[Unit]
Description=Activate SS Redir on startup
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ss-redir -c /etc/ssr.json -f /var/run/ss-redir.pid -i /etc/cidrskip.txt
ExecStartPost=/usr/local/bin/ss-nat-helper
ExecStopPost=/usr/local/bin/ss-nat-disable
PIDFile=/var/run/ss-redir.pid
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
